* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Geist", sans-serif;
  font-weight: 500;
  color: var(--text-primary);
}

@font-face {
  font-family: Geist;
  src: url(/files/fonts/Geist/webfonts/Geist[wght].woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: GeistPixel;
  src: url(/files/fonts/GeistPixel/webfonts/GeistPixel-Square.woff2)
    format("woff2");
  font-style: normal;
  font-display: swap;
}

:root {
  --border: oklch(34.977% 0.07055 242.771 / 0.1);
  --text-primary: oklch(26.536% 0.05176 241.223);
  --text-primary-on-color: white;
  --text-secondary: oklch(65.711% 0.02374 235.316);
  --bg-primary: white;
  --bg-button-primary: oklch(26.536% 0.05176 241.223);
  --bg-section-secondary: oklch(97.938% 0.00453 215.512);
  --shadow-lg: oklch(18.554% 0.06536 284.78 / 0.15);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

section {
  border-top: 0.1px solid var(--border);
}

/* Nav styles */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: --tex;
  padding: 0px 80px;
  height: 72px;
  background-color: var(--bg-primary);
}

nav ul {
  display: flex;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  color: var(--color-primary);
}

.btn {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background-color: var(--bg-button-primary);
  color: var(--text-primary-on-color);
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
}

.secondary {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  outline: 1px solid var(--border);
  box-shadow: 0 1px 2px 0 var(--shadow-sm);
}

.tag {
  color: var(--text-primary);
  font-family: GeistPixel;
  font-size: 15px;
  line-height: 100%;
  margin-bottom: 8px;
}

.button-group {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--color-primary);
  text-wrap-style: pretty;
  margin-top: 8px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.large-p {
  font-size: 18px;
  line-height: 24px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
}

.hero {
  background-image: url(/files/hero_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.hero-content {
  background-color: var(--bg-primary);
  padding: 40px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 48px 100px 0 var(--shadow-lg);
}

.text-light {
  color: var(--text-secondary);
}

.section-header {
  width: 60%;
  display: flex;
  flex-direction: column;
}
h2 {
  color: var(--text-primary);
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -1px;
}

.features-section {
  background-color: var(--bg-section-secondary);
}

.card-row {
  display: flex;
  gap: 24px;
}

.card-row li {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px;
  background-color: var(--bg-primary);
  border-radius: 8px;
  outline: 1px solid var(--border);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card-description {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  padding: 22px;
  gap: 8px;
}

.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  background-color: var(--bg-section-secondary);
}

.company-logo img {
  height: auto;
  width: 40px;
}

/* Form */

form {
  background-image: url(/files/form_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 480px;
  padding: 40px;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-primary);
  padding: 40px;
  margin: 0px 0 0 auto;
  width: 480px;
  box-shadow: 0 48px 100px 0 var(--shadow-lg);
  border-radius: 4px;
  text-wrap-style: pretty;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form label {
  font-size: 14px;
  line-height: 22px;
}

.form input {
  padding: 16px;
  height: 44px;
  outline: 1px solid var(--border);
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.form input::placeholder {
  font-size: 14px;
  line-height: 22px;
  color: var(--text-secondary);
}

.form input:focus {
  outline: 2px solid oklch(26.536% 0.05176 241.223);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.form select {
  padding: 16px;
  border: none;
  outline: 1px solid var(--border);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--bg-primary);
}

.form select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-70%) rotate(45deg);
  width: 8px;
  height: 8px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  pointer-events: none;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  margin-top: 80px;
}
